<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>SanteDB Community</author>
	<description>
			${project.parent.description}
	</description>

	<activator>${project.parent.groupId}.santedb.mpiclient.MpiClientActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openMRSVersion}</require_version>
	
	<require_modules>
												
	</require_modules>

		
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${project.parent.groupId}.santedb.mpiclient.extension.html.MpiClientLink</class>
	</extension>
	
	<advice>
		 <point>org.openmrs.api.PatientService</point>
		 <class>${project.parent.groupId}.santedb.mpiclient.aop.PatientSynchronizationAdvice</class>
	</advice>
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<!-- Required Global Properties 
	<globalProperty>
		<property>@MODULE_ID@.someProperty</property>
		<defaultValue></defaultValue>
		<description>
			A description of the global property goes here.  The description
			should explain enough for administrators to understand the purpose
			and possible values for the global property.
		</description>
	</globalProperty>
	/Required Global Properties -->
	<globalProperty>
		<property>mpi-client.endpoint.pdq.addr</property>
		<defaultValue>mpi.domain.com</defaultValue>
		<description>Identifies the location of the PDQ endpoint</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.endpoint.pdq.port</property>
		<defaultValue>2100</defaultValue>
		<description>Identifies the port of the PDQ interface</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.endpoint.pix.addr</property>
		<defaultValue>mpi.domain.com</defaultValue>
		<description>Identifies the location of the PIX endpoint</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.endpoint.pix.port</property>
		<defaultValue>2100</defaultValue>
		<description>Identifies the port of the PIX interface</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.pid.correlation</property>
		<defaultValue>LOCAL</defaultValue>
		<description>The preferred correlation identity</description>
	</globalProperty>
    <globalProperty>
		<property>mpi-client.pid.enterprise</property>
		<defaultValue>ENT_ID</defaultValue>
		<description>Identifies the enterprise authority (globally unique) of the patient generated by the MPI</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.security.tls</property>
		<defaultValue>false</defaultValue>
		<description>True if HL7v2 messages should be routed over SLLP</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.pid.autoXref</property>
		<defaultValue>ENTID</defaultValue>
		<description>A comma separated list of patient identity domains which should be automatically cross referenced from the MPI when registration is successful</description>
	</globalProperty>
    <globalProperty>
		<property>mpi-client.pid.local</property>
		<defaultValue>LOCAL</defaultValue>
		<description>Identifies the local assigning authority of this OpenMRS instances (or a '-' if you don't want to send local identifiers)</description>
	</globalProperty>
    <globalProperty>
		<property>mpi-client.pid.nhid</property>
		<defaultValue>ENTID</defaultValue>
		<description>Identifies the assigning authority of the national health ID</description>
	</globalProperty>
    <globalProperty>
		<property>mpi-client.security.authtoken</property>
		<defaultValue>A_SUPER_SECRET_KEY</defaultValue>
		<description>If the MPI requires an authentication token in MSH-8 enter it here</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.backgrounThreads</property>
		<defaultValue>false</defaultValue>
		<description>When true indicates that ADT messages should be sent on a background thread</description>
	</globalProperty>
    <globalProperty>
		<property>mpi-client.security.trustStore</property>
		<defaultValue></defaultValue>
		<description>The trust store of to use to validate the identity of the MPI's certificate</description>
	</globalProperty>
    <globalProperty>
		<property>mpi-client.security.trustStorePassword</property>
		<defaultValue></defaultValue>
		<description>The password used to unlock the trust store</description>
	</globalProperty>
    <globalProperty>
		<property>mpi-client.security.keyStore</property>
		<defaultValue></defaultValue>
		<description>If the MPI requires client certificate authentication, enter it here</description>
	</globalProperty>
    <globalProperty>
		<property>mpi-client.security.keyStorePassword</property>
		<defaultValue></defaultValue>
		<description>The password for the keyStore</description>
	</globalProperty>	
    <globalProperty>
		<property>mpi-client.security.trustStore</property>
		<defaultValue></defaultValue>
		<description>The trust store of to use to validate the identity of the MPI's certificate</description>
	</globalProperty>
    <globalProperty>
		<property>mpi-client.endpoint.ar.addr</property>
		<defaultValue>ar.domain.com</defaultValue>
		<description>The address of the audit repository node</description>
	</globalProperty>	
    <globalProperty>
		<property>mpi-client.endpoint.ar.transport</property>
		<defaultValue>audit-udp</defaultValue>
		<description>The transport to use (audit-udp, audit-tcp, audit-tls)</description>
	</globalProperty>	
    <globalProperty>
		<property>mpi-client.endpoint.ar.port</property>
		<defaultValue>514</defaultValue>
		<description>The port # to use when sending the audits</description>
	</globalProperty>	
	<globalProperty>
		<property>mpi-client.endpoint.ar.bind</property>
		<defaultValue></defaultValue>
		<description>The local bind address for UDP connection</description>
	</globalProperty>	
    <globalProperty>
		<property>mpi-client.msg.sendingApplication</property>
		<defaultValue>OPENMRS</defaultValue>
		<description>The registered application name for *THIS* endpoint (MSH-3)</description>
	</globalProperty>			
    <globalProperty>
		<property>mpi-client.msg.sendingFacility</property>
		<defaultValue>LOCAL</defaultValue>
		<description>The registered facility name for *THIS* endpoint (MSH-4)</description>
	</globalProperty>	
    <globalProperty>
		<property>mpi-client.msg.remoteApplication</property>
		<defaultValue>MPI_SERVER</defaultValue>
		<description>The registered application name for *RECIPIENT* endpoint (MSH-5)</description>
	</globalProperty>			
    <globalProperty>
		<property>mpi-client.msg.remoteFacility</property>
		<defaultValue>NATIONAL_DC</defaultValue>
		<description>The registered facility name for *RECIPIENT* endpoint (MSH-6)</description>
	</globalProperty>		
    <globalProperty>
		<property>mpi-client.ext.storeNK1AsRelationships</property>
		<defaultValue>false</defaultValue>
		<description>When true, store NK1 (next-of-kin) as OpenMRS relationships (note some OpenMRS software does not understand these)</description>
	</globalProperty>		
    <globalProperty>
		<property>mpi-client.ext.extendedAttributes</property>
		<defaultValue>Father's Name:NK1-2-2?NK1-3=FTH,Mother's Name:PID-6-2,Place of Birth:PID-23,Telephone contact:PID-13,Email address:PID-14,National ID=PID-19</defaultValue>
		<description>PersonAttributes (in OpenMRS) you would like imported from the message. Format= attr_name:segment_path?segment_guard=guard_value, . For example, to copy NK1-2-2 to fathers name: Father's Name=NK1-2-2?NK1-3=FTH</description>
	</globalProperty>		
	<globalProperty>
		<property>mpi-client.security.authType</property>
		<defaultValue></defaultValue>
		<description>Identifies the authentication type. Use blank, oauth or basic</description>
	</globalProperty>	
    <globalProperty>
		<property>mpi-client.pid.nameRewriteRegex</property>
		<defaultValue></defaultValue>
		<description>Identifies the regex that should be used to rewrite names. For example to extract the first prefix in Myanmar: /^(ma|mg|daw)?(.*)$/^$2^^^$1</description>
	</globalProperty>
    <globalProperty>
		<property>mpi-client.pid.exportIdentitiferType</property>
		<defaultValue>Patient ID=EXTERNAL_PATIENT_ID</defaultValue>
		<description>When specified, indicates the patient identifier types and domains that should be exported (example: HIV Programme ID=HIV_ID)</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.search.dateFuzz</property>
		<defaultValue>0</defaultValue>
		<description>The amount of fuzziness to add to fuzzy date searches (example: search for 1995,1996,1997 instead of just 1996)</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.pid.defaultCountry</property>
		<defaultValue>CA</defaultValue>
		<description>When specified, sets the default country code to use when no country code is present</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.security.idp.addr</property>
		<defaultValue></defaultValue>
		<description>If you require the use of an OAUTH IdP, the endpoint to send the client_credentials grant to</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.endpoint.format</property>
		<defaultValue>hl7</defaultValue>
		<description>The messaging format (HL7 or FHIR) to use to interact with the MPI</description>
	</globalProperty>
	<globalProperty>
		<property>mpi-client.http.proxyAddress</property>
		<defaultValue></defaultValue>
		<description>The proxy to use for HTTP traffic</description>
	</globalProperty>
		<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

